body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.dashboard-container {
    display: flex;
    margin: 20px;
    height: calc(100vh - 60px);
}

.dashboard-menu {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}

.dashboard-menu ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-menu li {
    margin: 15px 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: 1px solid red;
    border-radius: 8px;
    padding: 10px;
}

.dashboard-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.dashboard-menu a:hover {
    color: #007bb5;
}

.dashboard-interface {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 89.2vh;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.ticket-list {
    max-height: 500px;
    overflow-y: auto;

}

table {
    width: 100%;
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #667eea;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin-right: 10px;
}

form input[type="submit"] {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    font-weight: 600;
    padding: 14px 30px;
    cursor: pointer;
    border: none;
    width: auto;
    align-self: center;
    margin-top: 10px;
    font-size: 1rem;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
    }

    &:active {
        transform: translateY(0);
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    position : absolute;
    right: 0;
    margin-top: -3rem;
    margin-right: 3rem;
}


@media (max-width: 768px) {
    body {
        padding: 20px 10px;
    }

    form {
        width: 95%;
        padding: 25px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        padding: 0 15px;
    }
}